<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">CERTUS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="vista">vista</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="busqueda">buscar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="form">formulario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="reto19">reto19</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="reto20">reto20</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="reto">asincrona18</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="asin20">asincrona(20)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="asincrona19">asincrona 19 la tarea</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="mensaje">mensaje</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="registro">registro reto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="perfil">perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/login" *ngIf="!userLogin">iniciar sesion</a>
                    <a class="nav-link active" aria-current="page" 
                    routerLink="/login" *ngIf="userLogin" (click)="logout()">cerrar sesion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>