<section>
        <div class="card" *ngFor="let item of array">
            <h2 class="card-title">titulo</h2>
            <div class="card-paragraph">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel nemo eaque quo odit assumenda, dolore adipisci praesentium! Totam illum magni, ipsum voluptatem, voluptates dolore aliquam cupiditate aliquid quo quas iste.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore facilis ea voluptatum minus blanditiis quo totam odit nulla eos. Non repudiandae quis iure nesciunt fuga, error veniam ut odit reiciendis!</p>
            </div>
            
        </div>
</section>
