<section class="container mt-4">
    <form class="form-group">
    <section class="form-group">
    <label for="firstname">First Name</label>
    <input
    type="text"
    class="form-control"
    id="firstname"
    name="name"
    [(ngModel)]="nombre"
    disabled="true"
    />
    </section>
    <section class="form-group">
    <label for="lastname">Last Name</label>
    <input
    type="text"
    class="form-control"
    id="lastname"
    name="ape"
    [(ngModel)]="apellido"
    disabled="true"
    />
    </section>
    <section class="form-group">
    <label for="username">Username</label>
    <input
    type="text"
    class="form-control"
    id="username"
    name="user"
    [(ngModel)]="user"
    disabled="true"
    />
    </section>
    <section class="form-group">
    </section>
    <section class="form-group">
    </section>
    </form>
    </section>